<section class="footer">
    <footer>
        <span class="footer__copyright1"><a href="https://www.linkedin.com/in/rainadoshi6/">Raina Doshi</a></span>
        <span class="footer__copyright"> <a href="https://www.london.edu/">London Business School</a> </span>
        <span class="footer__copyright"> <a href="https://www.london.edu/">London Business School</a> </span>
         <span class="footer__copyright">Connect with me on: </a> </span>
         <span class="footer__copyright"> <a href="https://www.instagram.com/rainadoshi98/">Instagram</a> </span>
          </footer>
</section>